.spinner{
    margin: 100px auto;
    display: flex;
    justify-content: center;
}

.first,.second{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 8px solid transparent;
}

.first{
    position: relative;
    border-bottom-color: aquamarine;
    animation: spin 2s linear infinite;
}


.second{
    position: absolute;
    border-top-color: aquamarine;
    animation: spinTwo 2s linear infinite;
}


@keyframes spin {
    0% { transform: rotate(0deg);border-width: 8px;}
    50% { transform: rotate(180deg);border-width: 1px;}
    100% { transform: rotate(360deg);border-width: 8px;}
}


@keyframes spinTwo {
    0% { transform: rotate(0deg);border-width: 1px;}
    50% { transform: rotate(180deg);border-width: 8px;}
    100% { transform: rotate(360deg);border-width: 1px;}
}